body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none !important;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    height: 7vh;
    width: 1;
    box-shadow: 0 0 4px 0 rgba(54, 53, 53, 0.8);
}

.right {
    width: 40vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;

}

.right input {
    height: 20px;
    width: 220px;
    padding: 5px 5px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0.3px  0.3px  0.3px  0.3px rgba(54, 53, 53, 0.8)
}


.right p {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #001959;
}


.left {
    width: 40vw;
    height: 7h;
    display: flex;
    padding: 10px 10px;
    gap: 40px;

}

.logo {
    font-size: 20px;
    color: #001049;
    font-weight: bold;
}

.links {
    color: #1d336c;
}
